<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
      <h1>Customer event list</h1>
      <div class="container">
            <table class=" table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Event</th>
            </tr>
        </thead>
      {{#each customers}}
        <tr>
          
            <th>{{name}}</th>
            <th>{{event}}</th>
            
        </tr>
    {{/each}}
      </table>
      </div>
     
      <a href="/sevent" ><button  type="button" class="btn btn-primary"> Event</button></a>
</body>
</html>